html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 100;
}

.whatsapp ._1bpcM {
  position: absolute !important;
  bottom: 74px !important;
  right: 3px !important;
  width: 60px !important;
  height: 60px !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  .whatsapp ._1bpcM {
    margin-right: 20px !important;
  }
}
